.imagesWall_comments {
    width: 100%;
}
.textarea-comments {
    padding: 16px;
    text-align: left;
    font-size: 20px;
    border: none;
    resize: none;
    width: 100%;
}

.textarea-comments:focus {
    outline: none;
}

.comment-button {
    border: none;
    cursor: pointer;
    width: 20%;
}

.grid_photowall {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 3fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    max-height: 0vh;
    margin: 50px 100px 50px 100px;
    grid-auto-flow: row;
}

.imagesWall_parent {
    grid-area: 1 / 1 / 3 / 2;
}
.singlecomment {
    grid-area: 1 / 2 / 2 / 3;
}
.imagesWall_comments_new {
    grid-area: 2 / 2 / 3 / 3;
    width: 100%;
    display: flex;
}
.photoinfo {
    display: flex;
    justify-content: space-between;
}
